.bodyx{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmYUgLU9Go7GDP0VVSUTsb4gw-WLUad24AHZTFCcGVxgHZI6p-tpQpsNlBhYLRl2P8Rus&usqp=CAU");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:auto;

}