.nav{
    display:flex;
    width:70%;
    justify-content: space-between;
    flex-basis: 10%;
    gap:20%;
    color: white;
    font-size: 20px;
    margin-left: 10%;
}
.bingimage{
    width: 100%;
    
}
.ele{
color:white;
position: fixed;
top:2%;
right:10%;

   

}
.ele p{
    color:black;
    font-size: 14px;

}
.maindiv{
    display: flex;
    width:80%;
    font-size: 40px;
    
}
