.searchbox{
   background-color: white; 
   width:40%;
   border-radius: 20px;
   height: 45px;
   margin-left:25% ;
   margin-top: 2%;
   display:flex;
   gap:5px;
   
   
}

.searchinput{
    border: 2px solid black;
    
    
    
    border:none;
    
    
    width:200%;
    border-radius: 25px;
}
input{
    width:400px

}
 .searchbox img{
     
height: 85%;


 }
 .icondiv{
     width:60%;
     
     justify-content: space-between;
     display:flex;
     gap:5px

 }

   